    /*
    Flaticon icon font: Flaticon
    Creation date: 29/07/2017 21:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-headphones:before { content: "\f100"; }
.flaticon-chef:before { content: "\f101"; }
.flaticon-open-book:before { content: "\f102"; }
.flaticon-clapperboard:before { content: "\f103"; }
.flaticon-gamepad-1:before { content: "\f104"; }
.flaticon-linkedin-logo-1:before { content: "\f105"; }
.flaticon-linkedin-logo:before { content: "\f106"; }
.flaticon-phone-receiver:before { content: "\f107"; }
.flaticon-smartphone-call:before { content: "\f108"; }
.flaticon-home-icon-silhouette:before { content: "\f109"; }
.flaticon-envelope:before { content: "\f10a"; }
.flaticon-github-logo:before { content: "\f10b"; }
    
    $font-Flaticon-headphones: "\f100";
    $font-Flaticon-chef: "\f101";
    $font-Flaticon-open-book: "\f102";
    $font-Flaticon-clapperboard: "\f103";
    $font-Flaticon-gamepad-1: "\f104";
    $font-Flaticon-linkedin-logo-1: "\f105";
    $font-Flaticon-linkedin-logo: "\f106";
    $font-Flaticon-phone-receiver: "\f107";
    $font-Flaticon-smartphone-call: "\f108";
    $font-Flaticon-home-icon-silhouette: "\f109";
    $font-Flaticon-envelope: "\f10a";
    $font-Flaticon-github-logo: "\f10b";